body{
	background: url(excel.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.e1{
	 font-size: 36px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #A05909;
    text-align:left;
    word-spacing: 6px
}
.e2{
	background-color:#F3D31D;
	font-family:arial;
	position:absolute;
	top:170px;
	left:35%;
	height:1150px;
	width:450px;
	border-radius:15px;
}
.e3{
	font-size: 25px;
	font-family:monospace;
	position:absolute;
	top:180px;
	left:4%;
	height:150px;
	width:300px;
	border-radius:20px;
}
.f1{
	background-color:;
	font-family:arial;
	position:absolute;
	top:110px;
	left:6%;
	height:80px;
	width:100px;
	border-radius:20px;
}